{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "html", "jsx", "sass"],
      "plugins": ["line-numbers", "show-language", "line-highlight"]
    }]
  ]
}