:root {
  /* Into */
  --HEY_HELLO_🤙__Happy_that_you_came_here: '🏆';
  --Enjoy_the_view_and_reach_out: '📱';
  --Lets_build_something_together: '🥳';
  
  /* General */
  --fontSize: 16px;
  --unit: calc(var(--fontSize)*0.5);

  /* Raster */
  --body-max-width: calc(var(--unit)*180);
  --body-padding-x: calc(var(--unit)*8);
  --body-padding-y: calc(var(--unit)*8);
  --columnGap: calc(var(--unit)*8);
  --rowGap: calc(var(--unit)*8);
  --column-gap-compact: calc(var(--unit)*4);
  --row-gap-compact: calc(var(--unit)*2);

  /* Colors */
  --colorBg: rgb(255, 255, 255);
  --colorText: rgb(65, 78, 92);
  --colorTextDark: rgb(107, 106, 106);
  --colorTextLight: rgb(50, 50, 50);
  --colorTextDarker: rgb(168, 168, 168);
  --colorButtonBg: rgb(245, 245, 245);
 
  --colorBgRGB: 255, 255, 255;
  --colorTextRGB: 65, 78, 92;
  --colorTextDarkRBG: 107, 106, 106;
  --colorTextLightRGB: 50, 50, 50;
  --colorTextDarkerRGB: 168, 168, 168;
  --colorButtonBgRGB: 245, 245, 245;

  /* Fonts */
  --fontSans: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --fontMono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  --fontSizeExtraSmall: calc(var(--unit)*1.5); /* 12px */
  --fontSizeSmall: calc(var(--unit)*1.75); /* 14px */
  --fontSizeMedium: calc(var(--unit)*2); /* 16px */
  --fontSizeLarge: calc(var(--unit)*2.25); /* 18px */
  --fontSizeExtraLarge: calc(var(--unit)*4.5); /* 36px */
  /* Font Specials */
  --letterSpacing: 0.02em;
  --lineHeightSmallText: 145%;
}

@media (max-width: 64rem) {
  :root {
    --fontSize: 15px;
    --fontSizeExtraLarge: calc(var(--unit)*3.5); /* 20px */

    --body-padding-x: calc(var(--unit)*6);
    --body-padding-y: calc(var(--unit)*6);
    --columnGap: calc(var(--unit)*6);
    --rowGap: calc(var(--unit)*6);
    --column-gap-compact: calc(var(--unit)*3);
    --row-gap-compact: calc(var(--unit));
  }
}

@media (max-width: 40rem) {
  :root {
    --fontSizeExtraLarge: calc(var(--unit)*2.85); /* 20px */
    --body-padding-x: calc(var(--unit)*4);
    --body-padding-y: calc(var(--unit)*4);
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--fontSans);
  line-height: normal;
  font-size: 1rem;
  background: var(--colorBg);
  color: var(--colorText);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.button-icon {
  fill: var(--colorTextDark);
}

.external-link-icon {
  fill: var(--colorTextDark);
  transform: rotate(-45deg);
  position: relative;
  top: 1px;
}

.cv-section, .cv-section.header {
  margin-top: calc(var(--unit)*10);
}

@media (max-width: 64rem) {
  .cv-section {
    margin-top: 0;
  }
}

.cv-image {
  max-width: 300px;
}
@media (min-width: 64rem) {
  .cv-image {
    margin-top: calc(var(--unit)* -18);
    justify-self: end;
  }
}


/* Animations */

@keyframes wiggle {
  0% {transform: rotate(5deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-3deg);}
  100% {transform: rotate(0deg);}
}

/* Blog Styling */

main.blog ul, main ol {
  margin: 0 calc(var(--unit)*4) calc(var(--unit)*6.375);
}

main.blog ul {
  list-style: none;
}

main.blog ul li {
  position: relative;
}

main.blog ul li::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 5px;
  height: 24px;
  width: 24px;
  background: url("data:image/svg+xml,%3Csvg focusable='false' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' fill='%238193b2b3' width='18' height='18' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M14 4L12.9 5.1 18.9 11.2 2 11.2 2 12.8 18.9 12.8 12.9 18.9 14 20 22 12z'%3E%3C/path%3E%3C/svg%3E") no-repeat 0 0;
}

 main.blog ol li::marker {
  color: #8193b2b3;
  font-style: italic;
  font-family: "IBM Plex Mono";
  text-indent: -5px !important;
}